
:root {
    --bg-color-light: #ffffff;
    --text-color-light: #000000;
    --bg-color-dark: #2c2c2c;
    --text-color-dark: #f5f5f5;
}

a {
    text-decoration: none !important;
}

#logo {
    max-width: 30%;
}

.btn-outiline-style  {
    border: 1pt solid var(--bs-dark) !important;
}

.btn-outiline-style > i {
    color: var(--bs-dark) !important;
}

.btn-outiline-style:hover {
    border: 1pt solid var(--bs-primary) !important;
}

.btn-outiline-style:hover > i {
    color: var(--bs-primary) !important;
}


/*  FORM  */

.shape-form-group {
    position: relative;
    width: 100%;
    height: 3rem;
}

.i-shape {
    position: absolute;
    width: fit-content;
    height: 100%;
    z-index: 9;
}

.shape-form-group > input {
    position: absolute;
    width: 100%;
    height: 100%;
}

.shape-form-group > i {
    width: 20pt;
    height: 20pt;
}

.image-fume-effect {
    filter: brightness(0.5);
}
#lua{
    position: absolute;
    z-index: 99;
    left: 92%;
    top:4%;
    transform: scale(2.0);
}
body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    
}
